@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    background: rgba(0, 0, 0, 0.7) url(../img/img1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-blend-mode:darken;
    background-size: cover;
    background-position: center;
   
}


.textHead {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    padding: 20px 5px;
}

.textPara {
    color: white;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2rem;
    padding: 10px 50px;
}
.center {
    text-align: center;
}
.justify{
    text-align: justify;
    text-justify: inter-word;
}



@media only screen and (max-width: 790px) {
    .textHead {
        
        font-size: 2rem;
        padding: 20px 5px;
    }
    
    .textPara {
        color: white;
        font-family: 'RocknRoll One', sans-serif;
        font-size: 1rem;
        padding: 10px 50px;
    }
  }